* {
    margin: 0;
    padding: 0
}

.clear {
    clear: both;
    float: none;
}

.header {
    width: 100%;
    height: 600px;
    background-color: #240000;
}

.main {

    width: 1200px;
    height: 1578px;
    background-color: #660000;
}

.contacts {
    width: 1200px;
    height: 387px;
    background-color: #303030;
}

.footer {
    width: 1200px;
    height: 60px;
    background-color: #2b2b2b;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.logo-grid {
    padding-top: 39px;
}

.logo {
    width: 183px;
    height: 23px;
    font-family: Georgia, sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;


}

.free {
    width: 156px;
    height: 11px;
    font-family: Georgia, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.07em;
    text-align: left;
    color: #979797;
    margin-top: 3px;
}

.menu {
    display: grid;


    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    grid-gap: 12px;
    grid-template-columns: minmax(10px, 81px)repeat(5, 1fr);
    grid-template-rows: 137px;
    text-transform: uppercase;
}


.head-row {
    display: grid;
    grid-template-columns: minmax(188px, 325px) 1fr;
}

.menu a {
    display: block;
    height: 35px;
    width: auto;
    text-decoration: none;
    color: #fff;
    margin-top: 44px;
    line-height: 35px;
    border-radius: 5px;
}

.menu a:hover {
    outline: 1px solid #77c490;
}

.menu a.active {
    background: #77c490;
    outline: none;
}

.header-main {
    display: grid;
    grid-template-columns: 61px 1fr 1fr 61px;
}

.header-main h1 {

    width: 285px;
    height: 81px;
    font-family: Georgia, sans-serif;
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 77px;
}

.header-main p {
    width: 313px;
    height: 71px;
    font-family: Georgia, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65em;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
    padding-top: 33px;
}

.header-main a {
    width: 109px;
    height: 11px;
    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.header-main a:hover {
    outline: 1px solid #77c490;
}

.header-main a.active {
    background: #77c490;
    outline: none;
    display: block;
    height: 35px;
    width: 142px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    margin-top: 23px;
}

a.control {
    display: block;
    width: 15px;
    height: 28px;
    margin-top: 184px;
}

a.control:hover {
    outline: none;
}

a.control.left {
    background: url(img/slider_left.png) no-repeat center center;
}

a.control.right {
    background: url(img/slider_right.png) no-repeat center center;
    float: right;
}

.header__circle {
    display: block;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 25px solid #6b6b6b;
    background: #2f2f2f;
    margin-top: -16px;
}

.section {
    background: #660000;
}

.services__titles {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(4, 225px);
    grid-template-rows: 365px;
    grid-gap: 20px;
}

.services_title {
    background: #fff;
    margin-top: 60px;
    text-align: center;
    color: #333333;
}

.services_title:hover {
    background: #35c48d;
    color: #fff;
}



.services_title:hover .px120 {
    background: #fff;
    color: #fff;
}

.px120 {
    width: 120px;
    height: 120px;
    background: #2f2f2f;
    margin: 21px auto 13px;
}

.services__titles h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: Georgia, sans-serif;
    display: block;
    margin-bottom: 15px;
}

.services__titles p {
    display: block;
    width: 195px;
    margin: 0 auto;
}

.latest-work {
    display: grid;
    grid-template-columns: 1fr 256px 1fr;
    grid-template-rows: 48px;
}

.latest-work {
    margin-top: 45px;
}

.stripe {
    width: 351px;
    height: 2px;
    background: #2f2f2f;
    margin-top: 20px;
}

.latestwork h1 {
    text-transform: uppercase;
    width: 250px;
    height: 24px;
    font-family: Georgia, sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.lorem {
    height: 485px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 200px;
    grid-gap: 30px;
    margin-top: 30px;

}

.px290 {
    width: 290px;
    height: 190px;
    background: #353535;
    margin: auto;
    position: relative;
    outline: 5px solid #ffffff;
}

.px290 p {
    width: 153px;
    height: 11px;
    font-family: Georgia, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 6px auto 0;
}

.px290 span {
    position: absolute;
    top: 80px;
    color: #fff;
    font-family: Georgia, sans-serif;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: center;
    width: 100%;
}

.lid {
    display: block;
    width: 290px;
    height: 30px;
    background: #000000;
    position: absolute;
    bottom: 0;

}



a.lorems:hover .lid {

    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}


.about {
    height: 387px;

    background-color: #303030;
}

.aboutall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

div.aboutall h3 {
    display: block;
    height: 85px;
    width: 100%;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    line-height: 5.9em;
    text-align: left;
    color: #ffffff;
    font-weight: normal;
}

div.aboutall a {
    color: #76c38f;
    text-decoration: none;
}

span.post-title a {
    width: 100%;
    display: block;
}

.post-title {
    width: 67px;
    height: 11px;
    font-family: Georgia;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #76c38f;
    margin-bottom: 10px;
}

.admin {
    width: 100%;
    font-family: Georgia, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
    letter-spacing: normal;
    text-align: left;
    color: #666;
    margin-top: 15px;
    display: block;
}

.date {
    width: 100%;
    font-family: Georgia, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
    display: block;
    margin-top: 12px;
}

div.aboutall p {
    width: 100%;

    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62em;
    letter-spacing: normal;
    text-align: left;
    color: #979797;

    margin-bottom: 8px;
    display: block;
    margin-top: 10px;
}

.admin a {
    color: #76c38e;
}


.qlinks li {
    list-style-type: none;
    width: 100%;
    display: block;
    border-bottom: 1px solid #fff;
    height: 21px;
    margin-top: 5px;
    margin-bottom: 12px;
}

.qlinks li:before {
    content: "»";
    width: 5px;
    height: 5px;
    color: #979797;
}

.qlinks a {
    color: #76c38e;
}

.qlinks {
    width: 100%;
    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

    letter-spacing: normal;
    text-align: left;
    margin-bottom: 8px;
    display: block;

}

div.latest p {
    width: 100%;
    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62em;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
    margin-bottom: 20px;
    display: block;
    margin-top: 1px;
}

.latest a {
    color: #76c38e;
}


form.contact {
    width: 100%
}

form.contact input {
    display: block;
    width: calc(100% - 10px);
    background: #222;
    border-radius: 10px;
    height: 37px;
    border: none;
    margin-bottom: 8px;
    padding-left: 10px;

}

form.contact textarea {
    display: block;
    width: calc(100% - 10px);
    background: #222;
    border-radius: 10px;
    height: 70px;
    border: none;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-top: 10px;

}

form.contact .submit {
    display: block;
    width: 75px;
    height: 35px;
    background-color: #76c38f;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 0px;
    margin-top: 12px;
    font-family: Georgia, sans-serif;
}

.footer {
    width: 100%;
    height: 60px;
    color: #979797;
    background-color: #2b2b2b;
    border-top: 1px #000000 solid;
    width: 100%;
    font-family: Georgia, sans-serif;
    font-size: 13px;

}

div.footgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 25px;

}

div.template {
    text-align: right;
}